*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vmax;
    box-sizing: border-box;
}

/** PART : HEADER **/

header {
    background-color: white;
    padding: 2% 5%;
    position: fixed;
    z-index: 5;
    left: 0;
    right: 0;
    display: flex;
    width: 100vmax;
}

.logo img {
    height: 40px;
    width: 40px;
}

.logo h2 {
    font-family: "Tomorrow", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
}

.logo a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

/* Style for navigation on full-screen */
.navbar {
    display: flex;
    width: 100rem;
    justify-content: flex-end;
    gap: 2%;
    align-items: center;
}

/* Styles for the menu - burger - icon */
.menu-icon {
    display: none; /* Hide the icon on larger screens */
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
}

/* Styles for the menu links */
.menu {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
}

.navbar li > a {
    text-decoration: none; /* no under-line on the links */
    color: black;
}

.navbar li > a:hover {
    text-decoration: underline; /* add the under-line on hover */
}

.search, .button {
    padding: 6px 20px;
    border-radius: 8px;
}

/* styles the button */
.button {
    display: flex;
    width: 160px;
    height: 40px;
    box-shadow: 2px 4px 10px rgb(206, 206, 206);
    background-color: #FFA068;
    font-family: "Tomorrow", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    align-items: center;
    font-style: normal;
    transition: ease-in-out 0.2s;
}

.navbar a {
    text-decoration: none;
    color: black;
}
 
/* style the button on hover */
.button:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
}

/* while the cursor is on */
.button:active {
    transform: translateY(1px);
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
}

.search {
    display: flex;
    border: solid #FFA068 1px;
    gap: 20px;
    align-items: center;
}

.search input {
    border: none;
    font-size: 15px;
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.search img {
    width: 16px;
    height: 16px;
}


/** PART : HERO **/

#hero {
    background-color: #06D6A0;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 14%;
    padding-bottom: 0;
    margin-bottom: -3%;
    gap: 10%;
    box-sizing: border-box;
}

.hero_text {
    width: 50%;
}

/* scale the image */
.hero_image {
    width: 50%;
    height: auto;
    margin-left: -20%;
}

/* correction for smaller full-screen */
@media only screen and (max-width: 1000px){
    .hero_image {
        width: 40%;
        margin-left: -10%;
    }
}

.hero_text button {
    width: 160px;
    height: 40px;
    border: none;
    box-shadow: 2px 4px 10px rgb(206, 206, 206);
    color: black;
    background-color: #FFA068;
    font-weight: bold;
    padding: 6px 20px;
    border-radius: 8px;
    font-family: "Tomorrow", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.hero_text button:hover {
    transform: translateY(-3px);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
}

.hero_text a{
    color: black;
    text-decoration: none;
}

/* while the cursor is on */
.hero_text button:active {
    transform: translateY(1px);
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
}

.hero_text h1{
    font-size: 3.2em;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    line-height: 1.2em;
}

/* add "weight : bold" to a part of the title */
.hero_text h1 > .bold {
    background-image: url(./images/fond_h1.svg);
    background-repeat: no-repeat;
}

.hero_text p {
    margin: 1em 0;
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.hero_text button {
    margin: 30px 0px;
    transition: ease-in-out 0.2s;
}

/* when the cursor hovers */
.hero_text button:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
}

/* while the cursor is on */
.hero_text button:active {
    transform: translateY(1px);
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
}

/* the qualirepar label part */
.qualirepar {
    padding: 3%;
    background-color: #D9FFF5;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-top: 10%;
    gap: 5%;
    align-items: center;
}

.qualirepar img {
    width: auto;
    height: 68px;
}

.qualirepar_box {
    display: flex;
    flex-direction: column;
    font-size: 0.6em;
}

.qualirepar_box h2 {
    font-family: "Tomorrow", sans-serif;
    font-weight: 700;
    font-style: normal;
}


/** PART : NUMBERS **/

#chiffres {
    background-color: white;
    margin-left: 11%;
    margin-right: 11%;
    margin-top: -4%;
    padding: 40px 80px;
    border-radius: 16px;
    border: none;
    display: block;
    position: relative;
    left: 0;
    right: 0;
    box-sizing: border-box;
}

.counter_list {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
}

.counter {
    display: flex;
    gap: 10px;
    align-items: center;
}

.counter p {
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.number, .number2 {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 50px;
    background-image: url(./images/fond_h1.svg);
}


/** PART : CATEGORIES **/

#categories{
    background-color: #FEF1EF;
    margin-top: -120px;
    padding: 120px 120px 60px 120px;
    box-sizing: border-box;
}

#categories h2 {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 45px;
    margin: 50px 0px 30px 0px;
}

.categorie_list {
    display: flex;
    gap: 40px;
}

.categorie {
    width: 350px;
    height: 350px;
    background-color: white;
    border-radius: 16px;
    text-align: center;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.5em;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
}

/* scale the image */
.categorie img {
    width: 320px;
    height: 181px;
    margin: 15px;
}

.categorie h3 {
    margin: 15px;
}

.categorie a{
    text-decoration: none;
    color: black;
}

/* when the cursor hovers */
.categorie:hover{
    transform: translateY(-3px);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
}

/* while the cursor is on */
.categorie:active {
    transform: translateY(1px);
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
}


/** PART : BRAND **/

#logo_brand{
    margin: 60px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    box-sizing: border-box;
}

#logo_brand h3 {
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 5%;
    text-align: center;
}

.carousel {
    overflow: hidden; /* the logo will scroll and disappear when reach the end of the block */
    width: 100%; 
    height: auto;
    border: none;
}

.carousel-container {
    display: flex;
    width: calc(100% + 40px * 12); /* ajustez ce nombre en fonction du nombre d'images */
    animation: scroll 10s linear infinite; /* automatic animation scroll */
}

.carousel-container img {
    width: 165px;
    height: 90px;
    margin-right: 40px;
    background-color: white;
    border-radius: 100px;
}

.carousel-container img:last-child {
    margin-right: 0; /* enlever la marge droite de la dernière image */
}

/* width of the automatic animation scroll */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-165px * 3)); /* ajustez ce nombre en fonction du nombre d'images */
    }
}


/** PART : TESTIMONY **/

#testimony {
    background-color: #D9FFF5;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.6em;
    padding: 100px 120px;
    box-sizing: border-box;
    height: 110vh;
}

.testimony_avis {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.image_testimony {
    margin-top: 8%;
    position: relative; /* make sure the image stayed behind the testimony text-box */
}

/* style the image of the testimony */
.image_testimony img {
    width: 100%; /* largeur à 100% du conteneur */
    height: 300px; /* hauteur fixe à 300px */
    border-radius: 10px;
}

/* class to hide the other text-testimony, to be called in JS */
.hidden {
    display: none;
}

.image_testimony > .image_case {
    width: 530px;
    height: auto;
}

/* style for the button carrousel */
.button_dot {
    display: flex;
}

.carousel_arrow {
    color: #FFA068;
    margin: 1rem;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.carousel__nav {
    padding: 10px 0;
}

.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: #06D6A0;
}

/* style the button when it's currently active */
.carousel__indicator.current-slide {
    background: #FFA068;
}

/* the part where the text of each testimony appears */
.testimony_box{
    border: none;
    background-color: white;
    font-size: 13px;
    padding: 40px;
    border-radius: 16px;
    right: 20%;
    width: calc(35% - 30px);
    position: absolute;
    height: 400px; /* Définir une hauteur fixe */
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.2);
    overflow-y: scroll; /* Cacher tout débordement */
}

.nom_avis {
    padding: 10px 0;
    border-top: solid #06D6A0;
    color: #06D6A0;
    text-align: left;
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.avis_text h3, .avis_text p{
    margin-bottom: 15px;
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.avis_text h3 {
    font-weight: bold;
}


/** PART : INFORMATION **/

#info {
    background-color: #FEF1EF;
    display: flex;
    padding: 100px 120px;
    gap: 60px;
    box-sizing: border-box;
}

.info_text p {
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 125%;
}

.info_text h2{
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 35px;
    margin-bottom: 30px;
}

/* style for the CTA */
.info_text button {
    width: 230px;
    height: 40px;
    border: none;
    box-shadow: 2px 4px 10px rgb(206, 206, 206);
    color: black;
    background-color: #FFA068;
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
    padding: 6px 20px;
    border-radius: 8px;
    margin-top: 40px;
    transition: ease-in-out 0.2s;
}

/* style for the CTA on hover */
.info_text button:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
}

/* style for the CTA while the cursos is on the button */
.info_text button:active {
    transform: translateY(1px);
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
}

/* tooltip is used to add a pop-up on hover */
.tooltip {
    position: relative;
    display: inline-block;
  }

/* placement for the popup, but stay invisible while the cursor is not hovering */
.tooltip::after {
    content: attr(data-tooltip); /* retrieve the data inside the HTML */
    position: absolute; /* absolute make sure the popup appears on top of the others elements */
    top: 100%;
    left: 50%;
    transform: translateX(-50%); /* place the popup at the bottom of the button place */
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    visibility: hidden; /* make it's not visible until there's no hover */
    opacity: 0; /* make the popup at zero opacity first */
    transition: opacity 0.3s; /* add a transition for the popup appartion */
}

/* popup appears while hovering */
.tooltip:hover::after {
    visibility: visible; /* appears on hover on the button */
    opacity: 1; /* make the opacity clear after the transition */
}

.info_image img {
    width: 450px;
    height: auto;
}

.second_counter {
    margin: 40px 100px;
    display: flex;
    justify-content: space-evenly;
}


/** PART : SERVICES **/

#services {
    background-color: #06D6A0;
    padding: 140px;
    box-sizing: border-box;
}

.service_part h2{
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 35px;
    margin-bottom: 20px;
}

/* Part to list each box for each services */
.services_list {
    display: flex;
    gap: 40px;
    margin-bottom: 30px;
}

/* describe each box */
.service_box {
    background-color: white;
    border-radius: 8px;
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 20px;
    display: flex;
    align-items: center;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.2);
    width: calc(33% - 20px);
    transition: ease-in-out 0.2s;
}

/* add a link on the box for the contact form */
.service_box a{
    text-decoration: none;
    color: black;
    display: flex;
}

/* effect when the cursos is hovering the box */
.service_box:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
}

/* effect when the cursor stays on the box*/
.service_box:active {
    transform: translateY(1px);
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
}

.service_box_text h3 {
    color: #FFA068;
    margin-bottom: 15px;
}

/* scale the svg logo for each box */
.logo_svg {
    padding-left: 10px;
    padding-right: 20px;
    align-self: center;
}

/* Localisation of the boutique with a map, adresse, and schedules */
.boutique {
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.boutique h3{
    font-weight: bold;
}

.map {
    width: 100%;
    margin: 20px 0;
}

.map_adresse {
    margin-left: 20px;
}

/* ajust the title "Adresse" and "Horaires" to bold */
.map_adresse .bold {
    font-weight: bold;
}


/* PART : FOOTER */

footer {
    background-color: #D9FFF5;
    display: flex;
    padding: 100px 120px;
    margin: auto;
    gap: 123px;
    justify-content: space-around;
    box-sizing: border-box;
}

.footer_list {
    gap: 30px;
    line-height: 2.5em;
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footer_list .titre {
    color: #06D6A0;
    font-weight: bold;
}

.footer_list ul {
    list-style-type: none;
}

.footer_list a {
    text-decoration: none;
    color: black;
}


/* Media query for smaller screens */

@media only screen and (max-width: 800px) {
    /* PART : HEADER */
    header {
        width: 100vmax;
        padding: 20px 40px;
    }

    .logo h2 {
        display: none;
    }
    
    .navbar {
        gap: 10px;
        margin-right: 10%;
        justify-content: flex-end;
    }

    .button {
        display: none;
    }

    .menu-icon {
        display: block; /* Show the icon on smaller screens */
        order: 3;
    }

    .menu {
        display: none; /* Hide the menu links initially */
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        margin-right: 20%;
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

    .menu.active {
        display: flex; /* Show the menu when active */
        margin-right: 10%;
    }

    /* PART : HERO */
    #hero {
        padding-top: 20%;
        flex-direction: column;
    }

    .hero_text{
        width: 100vmax;
    }

    .hero_image {
        margin-top: 5%;
    }

    .qualirepar {
        width: 50%;
        height: auto;
    }

    /* PART : NUMBERS */
    #chiffres{
        margin: 0;
        padding: 20px 50px;
    }

    .counter_list {
        margin: auto;
        justify-content: space-evenly;
    }

    .counter {
        flex-direction: column;
    }

    /* PART : CATEGORIES */
    #categories {
        padding: 6em 3em;
    }

    .categorie{
        width: 320px;
        height: 280px;
    }

    .categorie_list {
        flex-direction: column;
        align-items: center;
    }

    .categorie img {
        height: 150px;
        width: auto;
    }

    .categorie h3 {
        margin: 5px 1px;
    }

    /* PART : TESTIMONY */
    #testimony {
        display: flex;
        flex-direction: column;
        height: 120%;
    }

    #testimony h2 {
        width: 70%;
    }

    .testimony_avis {
        width: 50vmax;
    }

    .image_testimony {
        display: flex;
        height: 65vh;
        width: 90vmax;
    }

    .image_testimony img {
        display: none; /* image not included in the smaller screen */
    }

    .testimony_box{
        display: flex;
        flex-direction: column;
        right: auto; 
        width: 50%;
        overflow-y: scroll; /* if the box is a bit too short, the scrool is available */
    }

    /* PART : INFORMATION */
    #info{
        padding: 5em;
        flex-direction: column; /* make sure the image goes at the bottom */
    }

    .info_text {
        width: 80%;
    }

    .info_image img{
        height: auto;
        width: 80%; /* ajust the scale of the image */
    }

    /* PART : SERVICES */
    #services{
        padding: 5em 3em; /* ajust the margins */
    }

    .services_list{
        flex-direction: column; /* place on a column in place of a row */
    }

    .service_box{
        width: calc(80% - 20px); /* calculate the width with percentage + a gap, for each box */
    }

    /* PART : BOUTIQUE */
    .boutique {
        display: none; /* not included on smaller screens */
    }

    /* PART : FOOTER */
    footer {
        flex-direction: column; /* ajust each column on top of each others */
        padding: 50px 60px; /* ajust the interior margins */
    }
}

/* Media query for MOBILE screens */

@media only screen and (max-width: 400px){
    /* PART : HEADER */ 
    .navbar {
        width: 50%;
    }

    .button {
        display: none;
    }

    .menu.active {
        display: flex; /* Show the menu when active */
        margin-right: 40%;
    }

    .search {
        display: none;
    }

    /* PART : HERO */
    #hero {
        padding-left: -10%;
    }

    .hero_text .bold {
        font-size: larger;
        font-weight: bold;
    }

    .hero_image {
        width: fit-content;
        margin-left: -20%;
        margin-top: 20%;
        transform: scale(150%);
    }

    .hero_image img {
        width: 500px;
        height: auto;
    }

    .qualirepar {
        display: none;
    }

    /* PART : NUMBERS */
    .counter_list{
        display: flex;
        flex-direction: column;
    }

    .counter {
        flex-direction: column;
    }

    /* PART : TESTIMONY */
    #testimony{
        display: none; /* not included in the Mobile version */
    }

    /* PART : INFORMATION */
    .mobile_first {
        display: none; /* withdraw the last 2 paragraphs on the mobile version */
    }

    .info_image img{
        width: 100%;
        height: auto;
    }

    /* PART : Second numbers */
    .second_counter {
        display: none; /* not included in the Mobile version */
       }
}





/**** FORMULAIRE DE CONTACT - page annexe ****/

#contact{
    background-color: #06D6A0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 3rem;
}

#contact h1{
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding-bottom: 2rem;
}

#formulaire-contact {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #ffffff; /* fond blanc */
    padding: 40px;
    border-radius: 16px; /* radius de 16px pour les bords */
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5); /* ajout d'un box-shadow */
    width: 600px;
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#formulaire-contact label {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    color: #000000; /* couleur de police noire */
}

#formulaire-contact input, #formulaire-contact textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: solid 1px black; 
    border-radius: 16px; /* radius de 16px pour les bords */
    background-color: #ffffff; /* fond blanc */
    color: #000000; /* couleur de police noire */
}

.nom-prenom {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    gap: 20px;
}

.nom-prenom label {
    width: 45%;
    margin-right: 10px;
}

.nom-prenom input {
    width: 45%;
}

#formulaire-contact textarea {
    height: 150px; /* hauteur de la zone de texte */
    resize: vertical; /* autoriser la redimension verticale */
}

#formulaire-contact input[type="submit"] {
    display: flex;
    justify-content: center;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 1.2em;
    background-color: #FFA068; /* bouton */
    color: black;
    padding: 10px 20px;
    border: none; /* pas de bordure */
    border-radius: 16px; /* radius de 16px pour les bords */
    cursor: pointer; /* curseur pointer */
    transition: all ease-in-out 0.2s;
}

#formulaire-contact input[type="submit"]:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
}

#formulaire-contact input[type="submit"]:active {
    transform: translateY(1px);
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
}