* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

header {
    background-color: white;
    padding: 20px 140px;
    position: fixed;
    z-index: 5;
    width: 90vmax;
    display: flex;
}

@media only screen and (max-width: 800px){
    header {
        padding: 20px 40px;
        width: 50%;
    }
}

.logo img {
    height: 40px;
    width: 40px;
}

.logo h2 {
    font-family: "Tomorrow", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
}

.logo a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 800px){
    .logo {
        gap: none;
    }

    .logo h2 {
        display: none;
    }
}

.navbar {
    display: flex;
    width: 100vmax;
    justify-content: flex-end;
    gap: 2%;
    margin-right: 10%;
    align-items: center;
}

@media only screen and (max-width: 800px){
    .navbar {
        gap: 10px;
        margin-right: 10%;
        justify-content: flex-end;
    }
}

@media only screen and (max-width: 400px){
    .navbar {
        gap: 10px;
        margin-left: 3rem;
        padding-right: 8rem;
    }
}

/* Styles for the menu icon */
.menu-icon {
    display: none; /* Hide the icon on larger screens */
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
}

/* Styles for the menu links */
.menu {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
}

/* Media query for smaller screens */
@media only screen and (max-width: 800px) {
    .menu-icon {
        display: block; /* Show the icon on smaller screens */
        order: 3;
        right: 0;
    }

    .menu {
        display: none; /* Hide the menu links initially */
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        margin-right: 10%;
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

    .menu.active {
        display: flex; /* Show the menu when active */
    }
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    text-decoration: underline;
}

.search, .navbar button {
    padding: 6px 20px;
    border-radius: 8px;
}

.navbar button {
    width: 160px;
    height: 40px;
    border: none;
    box-shadow: 2px 4px 10px rgb(206, 206, 206);
    color: black;
    background-color: #FFA068;
    font-weight: bold;
    font-family: "Tomorrow", sans-serif;
    font-weight: 700;
    font-style: normal;
    transition: ease-in-out 0.2s;
}

.navbar button:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
}

.navbar button a:hover{
    text-decoration: none;
}

.navbar button:active {
    transform: translateY(1px);
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 800px){
    .navbar  button {
        display: none;
    }
}

.search {
    display: flex;
    background-color: none;
    border: solid #FFA068 1px;
    gap: 20px;
    align-items: center;
}

.search input {
    border: none;
    font-size: 15px;
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media only screen and (max-width: 400px){
    .search {
        display: none;
    }
}

.search img {
    width: 16px;
    height: 16px;
}

#hero {
    background-color: #06D6A0;
    display: flex;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 140px;
    padding-bottom: 0;
    margin-bottom: -60px;
    gap: 40px;
}

.hero_text {
    width: 50%;
}

.hero_image {
    width: 50%;
    margin-left: -100px;
}

@media only screen and (max-width: 800px){
    #hero {
        padding-top: 160px;
        flex-direction: column;
        width: 100vmax;
    }

    .hero_text{
        width: 100%;
    }

    .hero_image {
        margin-left: -10%;
    }
}

@media only screen and (max-width: 400px){
    #hero {
        padding-top: 160px;
        padding-left: 15%;
    }

    .hero_text {
        width: 35%;
        font-size: smaller;
    }

    .hero_text .bold {
        font-size: larger;
        font-weight: bold;
    }

    .hero_image {
        margin-left: -50%;
        margin-top: 10%;
        transform: scale(120%);
    }
}

.hero_text button {
    width: 160px;
    height: 40px;
    border: none;
    box-shadow: 2px 4px 10px rgb(206, 206, 206);
    color: black;
    background-color: #FFA068;
    font-weight: bold;
    padding: 6px 20px;
    border-radius: 8px;
    font-family: "Tomorrow", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.hero_text button:hover {
    transform: translateY(-3px);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
}

.hero_text button a{
    color: black;
    text-decoration: none;
}

.hero_text button:active {
    transform: translateY(1px);
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
}

.hero_text h1{
    font-size: 3.2em;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    line-height: 1.2em;
}

.hero_text h1 > .bold {
    background-image: url(./images/fond_h1.svg);
    background-repeat: no-repeat;
}

.hero_text p {
    margin: 1em 0;
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.hero_text button {
    margin: 30px 0px;
    transition: ease-in-out 0.2s;
}

.hero_text button:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
}

.hero_text button:active {
    transform: translateY(1px);
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
}

.qualirepar {
    padding: 20px;
    background-color: #D9FFF5;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
}

.qualirepar img {
    width: auto;
    height: 68px;
}

.qualirepar_box {
    display: flex;
    flex-direction: column;
    font-size: 0.6em;
}

.qualirepar_box h2 {
    font-family: "Tomorrow", sans-serif;
    font-weight: 700;
    font-style: normal;
}

@media only screen and (max-width: 800px){
    .qualirepar {
        width: 50%;
    }
}

@media only screen and (max-width: 400px){
    .qualirepar {
        display: none;
    }
}

#chiffres {
    background-color: white;
    margin-left: 110px;
    margin-right: 110px;
    margin-top: -40px;
    padding: 40px 80px;
    border-radius: 16px;
    border: none;
    display: block;
    position: relative;
}

.counter_list{
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
}

.counter {
    display: flex;
    gap: 10px;
    align-items: center;
}

.counter p {
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.number, .number2 {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 50px;
    background-image: url(./images/fond_h1.svg);
}

@media only screen and (max-width: 800px){
    #chiffres{
        overflow: hidden;
        margin: 0;
        padding: 20px 50px;
    }

    .counter_list {
        justify-content: flex-start;
        gap: 10%;
    }

    .counter {
        flex-direction: column;
    }
}

@media only screen and (max-width: 400px){
    .counter_list{
        display: flex;
        flex-direction: column;
    }

    .counter {
        flex-direction: column;
    }
}


#categories{
    background-color: #FEF1EF;
    margin-top: -120px;
    padding: 120px 120px 60px 120px;
}

#categories h2 {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 45px;
    margin: 50px 0px 30px 0px;
}

@media only screen and (max-width: 600px){
    #categories {
        padding: 6em 3em;
    }
}

.categorie_list {
    display: flex;
    gap: 40px;
}

@media only screen and (max-width: 600px){
    .categorie_list{
        flex-direction: column;
    }
}

.categorie {
    width: 350px;
    height: 350px;
    background-color: white;
    border-radius: 16px;
    text-align: center;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.5em;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
}

.categorie img {
    width: 320px;
    height: 181px;
    margin: 15px;
}

.categorie h3 {
    margin: 15px;
}

.categorie a{
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 800px){
    .categorie{
        width: auto;
        height: 280px;
    }

    .categorie_list {
        flex-direction: column;
    }

    .categorie img {
        height: 150px;
        width: auto;
    }

    .categorie h3 {
        margin: 5px 1px;
    }
}

.categorie:hover{
    transform: translateY(-3px);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
}

.categorie:active {
    transform: translateY(1px);
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
}

#logo_brand{
    margin: 60px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

#logo_brand h3 {
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 5%;
    text-align: center;
}

.carousel {
    overflow: hidden;
    width: 100%; 
    height: auto;
    border: none;
    position: relative;
}

.carousel-container {
    display: flex;
    width: calc(100% + 40px * 12); /* ajustez ce nombre en fonction du nombre d'images */
    animation: scroll 10s linear infinite;
}

.carousel-container img {
    width: 165px;
    height: 90px;
    margin-right: 40px;
    background-color: white;
    border-radius: 100px;
}

.carousel-container img:last-child {
    margin-right: 0; /* enlever la marge droite de la dernière image */
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-165px * 3)); /* ajustez ce nombre en fonction du nombre d'images */
    }
}

#testimony {
    background-color: #D9FFF5;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.6em;
    padding: 100px 120px;
}

@media only screen and (max-width: 800px){
    #testimony{
        height: 70vh;
    }

    #testimony h2 {
        width: 50%;
    }
}

@media only screen and (max-width: 400px){
    #testimony{
        display: none;
    }
}

.testimony_avis {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_dot {
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

.image_testimony {
    margin-top: 3rem;
    position: relative;
    left: -18%;
}

.image_testimony img {
    width: 100%; /* largeur à 100% du conteneur */
    height: 300px; /* hauteur fixe à 300px */
    border-radius: 10px;
}

@media only screen and (max-width: 800px){
    .testimony_avis {
        height: 50vh;
        flex-direction: column;
    }

    .image_testimony {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: 100%;
    }

    .image_testimony img {
        display: none;
    }
}

.hidden {
    display: none;
}

.image_testimony > .image_case {
    width: 530px;
    height: auto;
}

.carousel_arrow {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50%;
    border: solid #FFA068 1px;
    color: #FFA068;
    margin: 1rem;
    padding: 5px;
    font-size: 15px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.carousel__nav {
    padding: 10px 0;
}

.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: #06D6A0;
}

.carousel__indicator.current-slide {
    background: #FFA068;
}

.testimony_box{
    border: none;
    background-color: white;
    font-size: 13px;
    padding: 40px;
    border-radius: 16px;
    right: 15%;
    width: calc(35% - 30px);
    position: absolute;
    height: 300px; /* Définir une hauteur fixe */
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.2);
    overflow: hidden; /* Cacher tout débordement */
}

@media only screen and (max-width: 800px){
    .testimony_box{
        display: flex;
        flex-direction: column;
        right: auto;
        width: 50%;
    }
}

.nom_avis {
    padding: 10px 0;
    border-top: solid #06D6A0;
    color: #06D6A0;
    text-align: left;
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.avis_text h3, .avis_text p{
    margin-bottom: 15px;
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.avis_text h3 {
    font-weight: bold;
}

#info {
    background-color: #FEF1EF;
    display: flex;
    padding: 100px 120px;
    gap: 60px;
}

@media only screen and (max-width: 800px){
    #info{
        padding: 5em;
        flex-direction: column;
    }
}

.info_text p {
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 125%;
}

@media only screen and (max-width: 800px){
    .info_text {
        width: 70%;
    }
}

@media only screen and (max-width: 400px){
    .mobile_first {
        display: none;
    }
}

.info_text h2{
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 35px;
    margin-bottom: 30px;
}

.info_text button {
    width: 230px;
    height: 40px;
    border: none;
    box-shadow: 2px 4px 10px rgb(206, 206, 206);
    color: black;
    background-color: #FFA068;
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
    padding: 6px 20px;
    border-radius: 8px;
    margin-top: 40px;
    transition: ease-in-out 0.2s;
}

.info_text button:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
}

.info_text button:active {
    transform: translateY(1px);
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
.tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}
  
.tooltip:hover::after {
    visibility: visible;
    opacity: 1;
}

.info_image img {
    width: 450px;
    height: auto;
}

@media only screen and (max-width: 800px){
    .info_image img{
        height: auto;
    }
}

@media only screen and (max-width: 400px){
    .info_image img{
        width: 100%;
    }
}


.second_counter {
    margin: 40px 100px;
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (max-width: 800px){
    .counter {
        flex-direction: row;
    }
 }

@media only screen and (max-width: 400px){
   .second_counter {
    display: none;
   }
}

#services {
    background-color: #06D6A0;
    padding: 140px;
}

@media only screen and (max-width: 800px){
    #services{
        padding: 5em 3em;
    }
}

.service_part h2{
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 35px;
    margin-bottom: 20px;
}

.services_list {
    display: flex;
    gap: 40px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 800px){
    .services_list{
        flex-direction: column;
    }
}

.service_box {
    background-color: white;
    border-radius: 8px;
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 20px;
    display: flex;
    align-items: center;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.2);
    width: calc(33% - 20px);
    transition: ease-in-out 0.2s;
}

.service_box a{
    text-decoration: none;
    color: black;
    display: flex;
}

@media only screen and (max-width: 800px){
    .service_box{
        width: calc(80% - 20px);
    }
}

.service_box:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
}

.service_box:active {
    transform: translateY(1px);
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
}

.map {
    width: 100%;
    margin: 20px 0;
}

.map img {
    width: 950px;
    height: auto;
}

@media only screen and (max-width: 800px){
    .boutique {
        display: none;
    }
}

.map_adresse {
    margin-left: 20px;
}

.map_adresse .bold {
    font-weight: bold;
}

.logo_svg {
    padding-left: 10px;
    padding-right: 20px;
    align-self: center;
}

.service_box_text h3 {
    color: #FFA068;
    margin-bottom: 15px;
}

.boutique {
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.boutique h3{
    font-weight: bold;
}

footer {
    background-color: #D9FFF5;
    display: flex;
    padding: 100px 120px;
    gap: 123px;
    justify-content: space-around;
}

@media only screen and (max-width: 800px){
    footer {
        flex-direction: column;
        padding: 50px 60px;
    }
}

.footer_list {
    gap: 30px;
    line-height: 2.5em;
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footer_list .titre {
    color: #06D6A0;
    font-weight: bold;
}

.footer_list ul {
    list-style-type: none;
}

.footer_list a {
    text-decoration: none;
    color: black;
}


/* FORMULAIRE DE CONTACT - page annexe */

#contact{
    background-color: #06D6A0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 3rem;
}

#contact h1{
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding-bottom: 2rem;
}

#formulaire-contact {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #ffffff; /* fond blanc */
    padding: 40px;
    border-radius: 16px; /* radius de 16px pour les bords */
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5); /* ajout d'un box-shadow */
    width: 600px;
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#formulaire-contact label {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    color: #000000; /* couleur de police noire */
}

#formulaire-contact input, #formulaire-contact textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: solid 1px black; 
    border-radius: 16px; /* radius de 16px pour les bords */
    background-color: #ffffff; /* fond blanc */
    color: #000000; /* couleur de police noire */
}

.nom-prenom {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    gap: 20px;
}

.nom-prenom label {
    width: 45%;
    margin-right: 10px;
}

.nom-prenom input {
    width: 45%;
}

#formulaire-contact textarea {
    height: 150px; /* hauteur de la zone de texte */
    resize: vertical; /* autoriser la redimension verticale */
}

#formulaire-contact input[type="submit"] {
    display: flex;
    justify-content: center;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 1.2em;
    background-color: #FFA068; /* bouton */
    color: black;
    padding: 10px 20px;
    border: none; /* pas de bordure */
    border-radius: 16px; /* radius de 16px pour les bords */
    cursor: pointer; /* curseur pointer */
    transition: all ease-in-out 0.2s;
}

#formulaire-contact input[type="submit"]:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
}

#formulaire-contact input[type="submit"]:active {
    transform: translateY(1px);
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
}